{% extends "::layout.html.twig" %}
{% block body %}
	<div class="pageCharacter">
		<section class="mainInfoPerso">
			<div class="container-fluid">
				<div class="row">
			        
			        <div class="col-sm-3">
			        	<div class="well">
				        	<ul class="list-group">
				        		{% for item in itemsGauche %}
					        		<li class="list-group-item">{{item['name']}}</li>
								{% endfor %}
							</ul>
			        	</div>
			        </div>

			        <div class="col-sm-6" id="mainPhoto">
				        <span>coucou</span>
				        {% for item in description %}
			        			<div>							
								<a href="">{{item['thumbnail']}}</a>
			        			</div>
						{% endfor %}
			        </div>

			        <div class="col-sm-3">
			        	<div class="well">
				        	<ul class="list-group">
							 	{% for item in itemsDroite %}
					        		<li class="list-group-item">{{item['name']}}</li>
								{% endfor %}
							</ul>
			        	</div>
			        </div>

			    </div>
			</div>
		</section>
	</div>
{% endblock %}