{% extends "::layout.html.twig" %}
{% block body %}
	<div class="pageCharacter">
		<section class="mainInfoPerso">
			<div class="container-fluid">
				<div class="row">
			        
			        <div class="col-sm-12" id="mainPhoto">

					    <img src="{{description['thumbnail']}}"/>

			        </div>

			    </div>
			</div>
		</section>
	</div>
{% endblock %}