{% extends "::layout.html.twig" %}
{% block body %}
	<div class="pageMembre">
		<section class="photoGuilde">
			<div class="container" id="mainPhoto">
				<center>Y aura une photo de guilde ici</center>
			</div>
		</section>

		<section class="roster">
			<div class="container" id="mainRoster">
				<div class="row">
		            <div class="col-sm-12">
			            <div class="page-header">
			              <h1>Notre Roster</h1>
			            </div>
			        </div>
			        <div class="col-sm-3 col-xs-6">
				        <table>
				        	<thead>
				        		<tr>
				        			<td id="icoTank"></td>
				        			<td><b>Tank</b></td>
				        		</tr>
				        	</thead>
				        </table>
			        </div>
			        <div class="col-sm-3 col-xs-6">
				        <table>
				        	<thead>
				        		<tr>
				        			<td id="icoHeal"></td>
				        			<td><b>Heal</b></td>
				        		</tr>
				        	</thead>
				        </table>
			        </div>
			        <div class="col-sm-3 col-xs-6">
				        <table>
				        	<thead>
				        		<tr>
				        			<td id="icoDPS"></td>
				        			<td><b>DPS Cac</b></td>
				        		</tr>
				        	</thead>
				        </table>
			        </div>
			        <div class="col-sm-3 col-xs-6">
				        <table>
				        	<thead>
				        		<tr>
				        			<td id="icoDPS"></td>
				        			<td><b>DPS Dist</b></td>
				        		</tr>
				        	</thead>
				        </table>
			        </div>
			    </div>
			</div>
		</section>

		<section class="membre">
			<div class="container" id="mainMembre">
				<div class="row">
		            <div class="col-sm-12">
			            <div class="page-header">
			              <h1>Les Membres</h1>
			            </div>
			        </div>
			    </div>


			    <div class="row">
		            <div class="col-sm-12">
			            <table>
				        	<thead>
				        		<tr>
				        			<td id="crestDK"></td>
				        			<td>
				        				<b>Chevaliers de la mort</b><br>
				        				<ul>
				        					<li>Perso 1</li>
			        						<li>Perso 2</li>
				        				</ul>
				        			</td>
				        		</tr>
				        		<tr>
				        			<td id="crestDH"></td>
				        			<td>
				        				<b>Chasseurs de démons</b><br>
				        				<ul>
				        					<li>Perso 1</li>
			        						<li>Perso 2</li>
				        				</ul>
				        			</td>
				        		</tr>
				        	</thead>
				        </table>
			        </div>
			    </div>   
			</div>
		</section>
	</div>
{% endblock %}
