body{
    background-color: rgba(12, 12, 12, 0.95);
}


/*********** NAVBAR ************/
/*******************************/


.container-fluid{
    background-color: rgba(56, 56, 56, 1);
    border-bottom: black;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
}

.navbar{
    margin-bottom: 0;
    border: none;
}
#bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
    border: none;
}
#bootstrap-menu.navbar-default {
    font-size: 16px;
    background-color: rgba(56, 56, 56, 1);
    margin-bottom: 0;
}
#bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(0, 107, 230, 1);
    background-color: rgba(56, 56, 56, 1);
}
#bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(0, 84, 186, 1);
    background-color: rgba(248, 248, 248, 0);
}
#bootstrap-menu.navbar-default .navbar-nav>.active>a,
#bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 107, 230, 1);
    background-color: rgba(0, 105, 204, 0.37);
}
#bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #0069cc;
}
#bootstrap-menu.navbar-default .navbar-toggle:hover,
#bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #0069cc;
}
#bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #0069cc;
}
#bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #383838;
}

.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
}

/*********** CAROUSSEL ************/
/**********************************/

#myCarousel{
    width: 100%;
    border-bottom: black;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
}

#mainCarousel{
    width: 100%;
    height: auto;
    padding: 0;
}

#mainCarousel img{
    width: 100%;
}



/*********** PRESENTATION ************/
/*************************************/


.presentation{
    text-align: center;
    color: white;
}


/*********** SELECT ACCUEIL **********/
/*************************************/

.selectAccueil{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(12, 12, 12, 0.6)
}

.thumbnail{
    text-align: center;
}

.col-md-4{

}

/*********** FOOTER **********/
/*****************************/

.footer{
    width: 100%;
    height: 60px;
    background-color: rgba(56, 56, 56, 1);
}

.footer #rank{
    bottom: -12px;
}